In [1]:
l= [1,2,3,4,"sudh", "kumar" , 45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l:
    
# body of the loop is missing

IndentationError: expected an indented block (967064326.py, line 3)

In [4]:
for i in l:
    pass
# as we are not expecting any result so pass can be written.

In [5]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [6]:
for i in l:
    print (i)
else:
    print("if for loop is going to complete itself then it will execute.")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself then it will execute.

In [7]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("if for loop is going to complete itself then it will execute.")

1
2
3

In [8]:
t = (3,33,45,67,2,4,5,6)

In [9]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [10]:
t[0]

3

In [11]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 33
2 45
3 67
4 2
5 4
6 5
7 6

In [12]:
s = "ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [13]:
s = "ineuron"

In [14]:
s1= s[::-1]

In [15]:
s1= s[::-1]
for i in range(len(s1)):
    print(i, s1[i])

0 n
1 o
2 r
3 u
4 e
5 n
6 i

In [16]:
for i in list(range(len(s)-1,-1,-1)):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [17]:
d= {'key':'gdhk','gfgjj':'chchgj','hggg':'jvhk'}
for i in d.items():
    print (i,type(i),type(i[1]))

('key', 'gdhk') <class 'tuple'> <class 'str'>
('gfgjj', 'chchgj') <class 'tuple'> <class 'str'>
('hggg', 'jvhk') <class 'tuple'> <class 'str'>

In [18]:
l1= ["sudh","kumar",32456,"ineuron",56678,789]
l2=[]
for i in l1:
    if type(i) == int:
        l2.append(i)

In [19]:
l2

[32456, 56678, 789]

In [20]:
d = {1:57789, "name":"Gargi", "email_id":"gargimahata@gmail.com", 234 :"dfgj", "43":"sdgdcj", 234 : "sdfgdj"}

In [21]:
for i in d:
    print (i)

1
name
email_id
234
43

In [22]:
for i in d:
    if type(i)== int:
        print (i, ":", d[i])

1 : 57789
234 : sdfgdj

In [23]:
s = "aaaabbccdd"

In [24]:
set(s)

{'a', 'b', 'c', 'd'}

In [25]:
for i in set(s):
    print (i, ":", s.count(i))

b : 2
a : 4
d : 2
c : 2

In [26]:
s.count('a')

4

In [27]:
i = 3456789023

In [28]:
for j in i:
    print (j)

TypeError: 'int' object is not iterable

In [29]:
str(i)
for j in str(i):
    print (int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
0 <class 'int'>
2 <class 'int'>
3 <class 'int'>

In [30]:
type(j)

str

In [31]:
t = ("sudh", "kumar", [1,2,3,4,5], (3,4,5),{"key":"sudh", "key2":"kumar"})

In [32]:
for i in t:
    print (list(i))

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']
[1, 2, 3, 4, 5]
[3, 4, 5]
['key', 'key2']

In [33]:
for i in t:
    if type(i) == list or type(i)== tuple:
        for j in i:
            if j == 3:
                print(j)

3
3

In [34]:
t1 = ("sudh", "kumar", [1,2,3,4,5], (3,4,5),{3:3, "key2":"kumar"})

In [35]:
for i in t1:
    if type(i) == list or type(i)== tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        print(i)
        for k in i.items():
            print(k)

3
3
{3: 3, 'key2': 'kumar'}
(3, 3)
('key2', 'kumar')

In [38]:
for i in t1:
    if type(i) == list:
        print (i)
        l1= sum(i)
        print (l1)

[1, 2, 3, 4, 5]
15

In [37]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]