In [1]:
# If statements

a = 10
if a == 10 :
    print ("this is my first condition")

this is my first condition

In [3]:
a = 10
if a == 11 :
    print ("this is my first condition")

In [4]:
a = 10
if a > 5 :
    pass

# pass replaces the body

In [6]:
a = 10
if a > 8 :
    print("print this if condition is true.")

print this if condition is true.

In [7]:
a = 10
if a < 8 :
    print("print this if condition is true.")

In [8]:
a = 10
if a != 11 :
    print("my condition is false")
else :
    print("print this")

my condition is false

In [9]:
a = 10 
if a == 12:
    print ("here we are trying to compare 10 with 12")
elif a == 11:
    print ("we are trying to compare 10 with 11")
else:
    print ("if all the blocks fail then do this")

if all the blocks fail then do this

In [11]:
a = 11 
if a == 12:
    print ("here we are trying to compare 10 with 12")
elif a == 11:
    print ("we are trying to compare 10 with 11")
else:
    print ("if all the blocks fail then do this")

we are trying to compare 10 with 11

In [12]:
price = 500
if price > 500:
    print ("may be I cannot buy a jacket.")
elif price < 500:
    print ("may be I can buy a jacket.")

In [14]:
price = 500
if price > 500:
    print ("may be I cannot buy a jacket.")
elif price <= 500:
    print ("may be I can buy a jacket.")

may be I can buy a jacket.

In [15]:
price = 500
if price > 500:
    print ("may be I cannot buy a jacket.")
elif price < 500:
    print ("may be I can buy a jacket.")
else price == 500:
    print ("I donot know.")

    
# Cannot write a condition with else.

SyntaxError: invalid syntax (1973409621.py, line 6)

In [16]:
price = 500
if price > 500:
    print ("may be I cannot buy a jacket.")
elif price < 500:
    print ("may be I can buy a jacket.")
elif price == 500:
    print ("I can buy.")
else:
    print ("I do not know")

I can buy.

In [17]:
price > 500

False

In [18]:
price < 500

False

In [19]:
price == 500

True

In [20]:
l = [1,2,3,4,5,6]
2 in l

True

In [21]:
l = [1,2,3,4,5,6]
if 2 in l:
    print ("try to perform a task")
else:
    print ("do not perform this task")

try to perform a task

In [22]:
l = [1,2,3,4,5,6]
if 60 in l:
    print ("try to perform a task")
else:
    print ("do not perform this task")

do not perform this task

In [24]:
if 1 in l:
    print ("try to do an addition")
elif 2 in l:
    print ("try to do an substration")
elif 3 in l:
    print ("try to do an multiplication")
    
# once a condition is true the loop breaks and comes out of the block. So the rest won't get execuated.

try to do an addition

In [25]:
if 10 in l:
    print ("try to do an addition")
elif 2 in l:
    print ("try to do an substration")
elif 3 in l:
    print ("try to do an multiplication")

try to do an substration

In [26]:
if 10 in l:
    print ("try to do an addition")
elif 2 in l:
    print ("try to do an substration")
elif 3 in l:
    print ("try to do an multiplication")
if 4 in l:                              # complete new block.
    print ("this is new statement")

try to do an substration
this is new statement

In [27]:
a = 400

In [30]:
b = input() #for user input. The I/P in string.

400

In [31]:
b

'400'

In [32]:
type(b)

str

In [33]:
b = int(input())

4

In [34]:
type(b)

int

In [36]:
price = int (input())
if price < 500:
    print ("I can buy something.")
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")

fsfbbbgb

ValueError: invalid literal for int() with base 10: 'fsfbbbgb'

In [37]:
price = int (input())
if price < 500:
    print ("I can buy something.")
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")

600
I am broke

In [38]:
price = int (input())
if price < 500:
    print ("I can buy something.")
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")

500
I am broke

In [39]:
price = int (input())
if price < 500:
    print ("I can buy something.")
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")

490
I can buy something.
I can buy a shirt

In [40]:
price = int (input())
if price < 500:
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")

490
I can buy a shirt

In [41]:
price = int (input())
if price < 500:
    print ("I can buy something.")
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")

300
I can buy something.
I can buy a jacket

In [43]:
price = int (input())
if price < 500:
    print ("I can buy something.")
    if price < 400:
        print ("I can buy a jacket")
    elif price > 300:
        print ("I can buy a shirt")
        if price > 200:
            print ("Will decide")
            
    else:
        print ("Can not buy anything")
else:
    print ("I am broke")
    if price > 500:
        price ("let's try something else")

456
I can buy something.
I can buy a shirt
Will decide

In [50]:
M = int (input())
if M < 600:
    print ("NO GRE")
    if M <500:
        print ("NO TOFFEL")
        if M < 400:
            print ("Try something else")
    else:
        print ("GOT TOFEEL")
else:
    print("You got GRE Congo")

300
NO GRE
NO TOFFEL
Try something else

In [46]:
val = float (input("enter a floating point number"))
if val >= 0 :
    if val == 0:
        print ("entered value is Zero")
    else:
        print ("entered value is a positive number")
else:
    print ("entered value is a negative number")

enter a floating point number0
entered value is Zero

In [47]:
val = float (input("enter a floating point number"))
if val >= 0 :
    if val == 0:
        print ("entered value is Zero")
    else:
        print ("entered value is a positive number")
else:
    print ("entered value is a negative number")

enter a floating point number5
entered value is a positive number

In [48]:
val = float (input("enter a floating point number"))
if val >= 0 :
    if val == 0:
        print ("entered value is Zero")
    else:
        print ("entered value is a positive number")
else:
    print ("entered value is a negative number")

enter a floating point number-6
entered value is a negative number

In [49]:
val = float (input("enter a floating point number"))
if val >= 0 :
    if val == 0:
        print ("entered value is Zero")
    else:
        print ("entered value is a positive number")
else:
    print ("entered value is a negative number")

enter a floating point number0.7
entered value is a positive number

In [52]:
a = 10
if a <= 10:
    print ("try to do something")

try to do something

In [53]:
a = 10
if a < 10 or a== 10:
    print ("try to do something")

try to do something

In [54]:
a = 10
if a < 10 and a== 10:
    print ("try to do something")

In [55]:
a = 10
if a < 10 or a > 10:
    print ("try to do something")

In [56]:
a = 10
if a < 10 or a == 10:
    print ("try to do something")

try to do something

In [59]:
a = "sudh"
if a== "sudh" and a== "Sudh":
    print("this is sudh")
    
# as Python is case sensitive, it won't work.

In [60]:
a = "sudh"
if a== "sudh" or a== "Sudh":
    print("this is sudh")

this is sudh

In [62]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("let's do something")

In [63]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("let's do something")

let's do something

In [64]:
d = {'key1' : "value",'key2' : "Sudh", 'key3':"iNeuron"}

In [78]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all values")
    print(d.values())

all values
dict_values(['value', 'Sudh', 'iNeuron'])

In [85]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron":
    print("all values")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [80]:
l = [1,2,3,4,5,"sudh", 234.45]

In [81]:
l[0]

1

In [82]:
l[2:5]

[3, 4, 5]

In [83]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [84]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [86]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [87]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [92]:
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [93]:
l1

[0, 1, 2, 3, 4, 5]