In [19]:
sudh=10

In [20]:
# a is stored in memory in RAM as a Data. It is a local var. Means it is not global is available only in this Jupyter Notebook. 10 is the data & A is the variable.

In [21]:
sudh-2

8

In [22]:
type(sudh)

int

In [23]:
a=34.09

In [24]:
type(a)

float

In [25]:
b="this is my first class of python and today's date is 14th may 2022"

In [26]:
type(b)

str

In [27]:
c= kjdidbhdbdiqi

NameError: name 'kjdidbhdbdiqi' is not defined

In [28]:
c= 'kjdidbhdbdiqi'

In [29]:
type(c)

str

In [30]:
d= True

In [31]:
d

True

In [32]:
type(d)

bool

In [33]:
e=False

In [34]:
type(e)

bool

In [35]:
True- False
# True=1 & False=0 according to system

1

In [36]:
True- True

0

In [37]:
True / False

ZeroDivisionError: division by zero

In [38]:
True+True

2

In [39]:
n= 5 + 7j

In [40]:
type(n)

complex

In [41]:
m=5+7i

SyntaxError: invalid syntax (3333527171.py, line 1)

In [42]:
n+n

(10+14j)

In [43]:
0/1

0.0

In [44]:
n.real
# n. & tab. Then select real and execute

5.0

In [45]:
n.conjugate

In [46]:
n.imag

7.0

In [47]:
b= "this is my first class of python and today's date is 14th may 2022"

In [48]:
type(b)
# type(b keep the cursor here and press shift & tab)

str

In [49]:
b.capitalize

In [50]:
l = [3,4,5,6, "gargi", True, 5+9j, 345.456]

In [51]:
type(l)

list

In [52]:
# Try to use List instead of Array.

In [53]:
l[1]
# it will read the elemant in index position.

4

In [54]:
t = (324,456,65,46,"ggh","2344")

In [55]:
type(t)

tuple

In [56]:
d={'a':"gargi", 'b':"345", 'c':1235}

In [57]:
type(d)

dict

In [58]:
t={34, 'ssf'}

In [59]:
type(t)

set

In [60]:
z

NameError: name 'z' is not defined

In [61]:
s= "ineuron"

In [62]:
type(s)

str

In [63]:
s[0]
# s[index position] to extract the letter

'i'

In [64]:
s[-4]
# s[backward index position (starts with -1)] to extract the letter

'u'

In [65]:
'this is my very first programming class's'

SyntaxError: invalid syntax (3431759213.py, line 1)

In [66]:
s2= "this is my very first programming class's"

In [67]:
s2

"this is my very first programming class's"

In [68]:
s2[8]

'm'

In [69]:
s2[1:5]

'his '

In [70]:
s2[6:30]

's my very first programm'

In [71]:
s2[6:30:2]
# start from 6 go till 30 (excluding 30) take jump of 2

'sm eyfrtporm'

In [72]:
s="sudhanshu"

In [73]:
s[0:9:2]

'sdasu'

In [74]:
s[0:8:-1]
#move in positive direction but take jump towards negative direction. So, it is contradicting

''

In [75]:
s[8:0:-1]
#cause, moving in negative direction & taking jump towards negative direction. No contradiction.

'uhsnahdu'

In [76]:
s[8:0:-2]

'usad'

In [77]:
s[:-3]

'sudhan'

In [78]:
s[-2:]

'hu'

In [79]:
s[::1]

'sudhanshu'

In [80]:
s[::2]

'sdasu'

In [81]:
s[::-1]
# how to reverse the string

'uhsnahdus'

In [82]:
s[8:0:-1]

'uhsnahdu'

In [83]:
s3= 'ineuron'

In [84]:
s3[::-1]

'norueni'

In [85]:
s3[-2:-7:1]

''

In [86]:
s3[-7:-2:1]

'ineur'

In [87]:
s3[-7:-1:1] is giving 'ineuro' but why s3[-7:0:1] is giving blank? I want to print complete

SyntaxError: invalid syntax (3420991616.py, line 1)

In [88]:
s3[-7:-1:1]

'ineuro'

In [89]:
s3[-7:0:1]

''

In [90]:
s3[:-1:-1]

''

In [91]:
s

'sudhanshu'

In [92]:
s+1

TypeError: can only concatenate str (not "int") to str

In [93]:
s+"1"

'sudhanshu1'

In [94]:
s+ str(1)
# "Type castion" or "Concadination" operation. Meaning- convert all the data to same datatype

'sudhanshu1'

In [95]:
len(s)

9

In [96]:
s * 2
# prints the string twice.

'sudhanshusudhanshu'

In [97]:
s.count('s')

2

In [98]:
s.count('sum')

0

In [99]:
s.split('u')

['s', 'dhansh', '']

In [100]:
type(s.split('u'))

list

In [101]:
sw= "The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group. "

SyntaxError: EOL while scanning string literal (130054558.py, line 1)

In [102]:
sw= "The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate"

In [103]:
sw.split('')

ValueError: empty separator

In [104]:
sw= """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."""

In [105]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [106]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.']

In [107]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [108]:
sw.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [109]:
sw= sw.upper()

In [110]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [111]:
sw.lower()

"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group."

In [112]:
s = "sudhanshu kumar"

In [113]:
s.title()
# 1st letter of each word capital.

'Sudhanshu Kumar'

In [114]:
s.capitalize()
# 1st letter of 1st word capital.

'Sudhanshu kumar'

In [115]:
s='Sudhanshu KUMAR'

In [116]:
s.swapcase()

'sUDHANSHU kumar'

In [117]:
''.join(reversed(s))

'RAMUK uhsnahduS'

In [118]:
s[::-1]

'RAMUK uhsnahduS'

In [119]:
s="   su  dh  "

In [120]:
s.strip()

'su  dh'

In [121]:
s.lstrip()
# lstrip, strips space from LHS

'su  dh  '

In [122]:
s.rstrip()
# lstrip, strips space from RHS

'   su  dh'

In [123]:
"  ".join("sudhanshu")

's  u  d  h  a  n  s  h  u'

In [124]:
"a".join("sudhanshu")

'sauadahaaanasahau'

In [125]:
s="sudh"

In [126]:
s.center(20,'z')
# reserved 20 spaces in memory with 'z'

'zzzzzzzzsudhzzzzzzzz'

In [127]:
s="Sudhanshu"

In [128]:
s.isupper()

False

In [129]:
s1="SUDHANSHU"

In [130]:
s1.isupper()

True

In [131]:
s.islower()

False

In [132]:
s2='sudhanshu'

In [133]:
s2.islower()

True

In [134]:
s.isspace()

False

In [135]:
s4="  "
s4.isspace()

True

In [136]:
s5= '12345'
s5.isdigit()

True

In [137]:
s6='12334fghh'

In [138]:
s6.isdigit()

False

In [139]:
s.isalnum()
#Alphanumaric. checks either alphabets or numaric

True

In [140]:
s6.isalpha()

False

In [141]:
s.startswith('i')

False

In [142]:
s.startswith('s')

False

In [143]:
s.endswith('g')

False

In [144]:
s.endswith('u')

True

In [145]:
s.isascii()
# everything in the keyboard has ascii value

True

In [146]:
s7=' 12334fghh'
# due to space it is false.

In [147]:
s7.isalnum()

False

In [148]:
s='12345678'

In [149]:
s.isdigit()

True

In [150]:
s.isnumeric()

True

In [151]:
s1='1234fgbn'

In [152]:
s1.isdigit()

False

In [153]:
s1.isnumeric()

False

In [154]:
reversed(s)

In [155]:
'd'.join('ineuron')

'idndedudrdodn'

In [156]:
''.join(reversed('ineuron'))

'norueni'

In [157]:
s= 'sudhanshu\tkumar\tinuron'

In [158]:
s.expandtabs()

'sudhanshu       kumar   inuron'

In [159]:
s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .


you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may .

SyntaxError: invalid syntax (522547210.py, line 2)