In [1]:
# q1: 
# ineuron
# ineuron ineuron
# ineuron ineuron ineuron
# ineuron ineuron ineuron ineuron

n= 4
for i in range(n):
    for j in range(i+1):
        print("ineuron ", end="")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [2]:
# q2: 
#           ineuron
#     ineuron     ineuron
# ineuron   ineuron   ineuron
#     ineuron     ineuron
#           ineuron

n = 3
for i in range(n):
    for j in range(n - i - 1):
        print('    ', end='')
    for j in range(i + 1):
        print('ineuron ', end='')
    print()
for i in range(n - 1):
    for j in range(i + 1):
        print('    ', end='')
    for j in range((n - i) - 1):
        print('ineuron ', end='')
    print()

        ineuron
    ineuron ineuron
ineuron ineuron ineuron
    ineuron ineuron
        ineuron

In [3]:
l = [[1,2,3,4], (2,3,4,5,6),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {"k1":"sudh", "k2":"ineuron", "k3":"kumar", 3:6,7:8}, ["ineuron", "data science"]]

In [4]:
#q3:
#Try to extract all the list entity.

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
#q4:
#Try to extract all the dict entity.

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#q5:
#Try to extract all the tuples entities

for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [7]:
#q6:
#Try to extract all the numerical data it can be a part of dict key and values.

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print (j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [8]:
#q7
#Try to give summation of all the numeric data

l1=[]
l2=[]
l3=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                l2.append(k)
                l3.append(v)
s1 = sum(l1)
s2 = sum(l2)
s3 = sum(l3)
s = s1+s2+s3
print(s)

156

In [9]:
#q8
#Try to filter out all the odd values out all numeric data which is a part of a list

l4 = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                if j%2 == 0:
                    l4.append(j)
print (l4)

[2, 4]

In [10]:
#q9
#Try to extract "ineruon" out of this data.

for i in l:
    if type(i) == list:
        for j in i:
            if str(j) == "ineuron":
                print (j)
    if type(i) == dict:
        for k,v in i.items():
            if str(k) == "ineuron":
                print(k)
            elif str(v) == "ineuron":
                print(v)

ineuron
ineuron

In [11]:
#q10
#Try to find out a number of occurances of all the data.

l1=[]
l2=[]
l3=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l2.append(k)
            l3.append(v)
l4=l1+l2+l3
for n in set(l4):
    print (n, ":", l4.count(n))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
8 : 1
kumar : 1
45 : 1
data science : 1
k1 : 1
sudh : 1
23 : 1
k2 : 1
ineuron : 2

In [12]:
#q11
#Try to find out number of keys in dict element.

l1=[]
for i in l:
    if type(i) == dict:
        for k,v in i.items():
            l1.append(k)
print(len(l1))

5

In [13]:
#q12
#Try to filter out all the string data.

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print (j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or type(v) == str:
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [14]:
#q13
#Try to Find out alphanum in data.

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print (j, ':', j.isalnum())
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or type(v) == str:
                print(k, ':', k.isalnum())
                print(v, ':', v.isalnum())

k1 : True
sudh : True
k2 : True
ineuron : True
k3 : True
kumar : True
ineuron : True
data science : False

In [15]:
#q14
#Try to find out multiplication of all numeric value in the individual collection inside dataset.

l1=[]
l2=[]
l3=[]
s1 = 1
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                l2.append(k)
                l3.append(v)
l4 = l1+l2+l3
print(l4)
for n in l4:
    s1 = s1 * n
print(s1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 6, 8]
908605071360000

In [16]:
#q15
#Try to unwrape all the values inside collection and create a flat List.

l1=[]
l2=[]
l3=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l2.append(k)
            l3.append(v)
l4=l1+l2+l3
print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8]