In [1]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [2]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [3]:
# 1. Try to reverse a list
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [4]:
# 1. Try to reverse a list

l.reverse()

In [5]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [6]:
# 1. Try to reverse a list

l.reverse()

In [7]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [8]:
#  2. try to access 234 out of this list 

l[7][0]

234

In [9]:
# 3. try to access 456 

l[5][1]

456

In [10]:
# 4. Try to extract only a list collection form list l

l[5]

[23, 456, 67, 8, 78, 78]

In [11]:
# 5. Try to extract "sudh"

l[8]['key1']

'sudh'

In [12]:
# 6. Try to list all the key in dict element avaible in list

l[8].keys()

dict_keys(['key1', 234])

In [13]:
# 7. Try to extract all the value element form dict available in list

l[8].values()

dict_values(['sudh', [23, 45, 656]])